In [5]:
import pandas as pd
df=pd.DataFrame({'KOSPI':[1915,1961,2026,2467,2041],'KOSDAQ':[547,682,631,798,675]})
df

   KOSPI  KOSDAQ
0   1915     547
1   1961     682
2   2026     631
3   2467     798
4   2041     675

In [6]:
df.describe()

             KOSPI      KOSDAQ
count     5.000000    5.000000
mean   2082.000000  666.600000
std     221.117616   91.029116
min    1915.000000  547.000000
25%    1961.000000  631.000000
50%    2026.000000  675.000000
75%    2041.000000  682.000000
max    2467.000000  798.000000

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   KOSPI   5 non-null      int64
 1   KOSDAQ  5 non-null      int64
dtypes: int64(2)
memory usage: 208.0 bytes